@view-transition {
    navigation: auto;
}

@layer reset {

    *,
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        -mo2-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        -text-size-ajust: none;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockqoute,
    dl,
    dd {
        margin: 0;
    }

    body {
        min-block-size: 100vh;
        line-height: 1.6;
    }

    h1,
    h2,
    h3,
    button,
    input,
    label {
        line-height: 1.1;
    }

    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    ul {
        margin: 0;
    }

    p,
    li {
        text-wrap: pretty;
    }

    img,
    picture {
        max-inline-size: 100%;
        display: block;
    }

    input,
    button,
    textarea,
    select {
        font: inherit
    }
}

@layer base {
    @font-face {
        font-family: 'Philosopher';
        src: url('../src/assets/fonts/Philosopher/Philosopher-Regular.ttf') format('truetype');
        font-weight: 400;
        /* Regular */
        font-style: normal;
    }

    @font-face {
        font-family: 'Philosopher';
        src: url('../src/assets/fonts/Philosopher/Philosopher-Bold.ttf') format('truetype');
        font-weight: 700;
        /* Bold */
        font-style: normal;
    }

    @font-face {
        font-family: 'Philosopher';
        src: url('../src/assets/fonts/Philosopher/Philosopher-Italic.ttf') format('truetype');
        font-weight: 400;
        /* Italic */
        font-style: italic;
    }

    @font-face {
        font-family: 'Lato';
        src: url('../src/assets/fonts/Lato/Lato-Black.ttf') format('truetype');
        font-weight: 900;
        /* Black */
        font-style: normal;
    }

    @font-face {
        font-family: 'Lato';
        src: url('../src/assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
        font-weight: 700;
        /* Bold */
        font-style: normal;
    }

    @font-face {
        font-family: 'Lato';
        src: url('../src/assets/fonts/Lato/Lato-Italic.ttf') format('truetype');
        font-weight: 400;
        /* Italic */
        font-style: italic;
    }

    :root {
        --clr-white: hsl(0, 0%, 100%);
        --clr-pearl-black: hsl(208, 41%, 8%);
        --clr-space-gray: hsl(232, 23%, 34%);
        --clr-space-gray-light: hsl(45, 7%, 88%);
        --clr-pantry-white: hsl(13, 07%, 88%);
        --clr-erie-black: hsl(0, 0%, 10%);
        --clr-shade-blue: hsl(237, 100%, 70%);
        --clr-light-blue: hsl(204, 74%, 63%);
        --clr-lightish-blue: hsl(193, 100%, 92%);
        --clr-cyan-blue: hsl(195, 10%, 92%);
        --clr-pale-blue: hsl(216, 98%, 100%);
        --clr-purple-blue: hsl(240, 65%, 23%);

        --ff-body: 'Lato', sans-serif;
        --ff-heading: 'Philosopher', sans-serif;

        --fs-300: 0.875rem;
        --fs-400: 1rem;
        --fs-500: 1.125rem;
        --fs-600: 1.25rem;
        --fs-700: 1.5rem;
        --fs-800: 2rem;
        --fs-900: 3.75rem;
        --fs-1000: 3.75rem;

        @media (width > 760px) {
            --fs-300: 0.875rem;
            --fs-400: 1rem;
            --fs-500: 1.25rem;
            --fs-600: 1.5rem;
            --fs-700: 2rem;
            --fs-800: 3rem;
            --fs-900: 5rem;
            --fs-1000: 7.5rem;
        }
    }

    :root {
        --text-main: var(--clr-pearl-black);
        --text-high-contrast: var(--clr-white);
        --text-brand: var(--clr-erie-black);
        --text-brand-light: var(--clr-erie-black);
        --text-brand-dark: var(--clr-pantry-white);

        --background-dark: var(--clr-pearl-black);
        --background-light: var(--clr-space-gray-light);
        --bacground-menu-light: var(--clr-lightish-blue);
        --bacground-menu-dark: var(--clr-space-gray);
    }

    :root {
        --font-size-heading-sm: var(--fs-700);
        --font-size-heading-rg: var(--fs-800);
        --font-size-heading-lg: var(--fs-900);
        --font-size-heading-xl: var(--fs-1000);

        --font-size-sm: var(--fs-300);
        --font-size-rg: var(--fs-400);
        --font-size-md: var(--fs-500);
        --font-size-lg: var(--fs-600);
    }

    :root {
        --border-radius-sm: 0.25rem;
        --border-radius-md: 0.5rem;
        --border-radius-lg: 0.75rem;
    }

    html {
        line-height: 1.6;
        scroll-padding: 3rem;
    }

    @media(prefers-redhced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }

    body {
        font-family: var(--ff-body);

        .light {
            background-color: var(--background-light);
            color: var(--clr-erie-black);
        }

        .dark {
            background-color: var(--background-dark);
            color: var(--clr-pantry-white);
        }

        .light a:hover,
        :focus-visible {
            color: var(--clr-light-blue);
        }

        .dark a:hover,
        :focus-visible {
            color: var(--clr-light-blue);
        }
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: var(--ff-heading);
    }

    h1 {
        font-size: var(--font-size-heading-rg);

        @media (width < 760px) {
            font-size: none;
        }
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover,
    a:focus-visible {
        color: inherit
    }

    img {
        border-radius: var(--border-radius-lg);
    }
}

@layer layout {
    .flow>*+* {
        margin-top: var(--flow-spacer, 1em);
    }

    .section {
        --padding: 3.7rem;
        padding-block: var(--padding);

        @media (width > 720px) {
            --padding: 8rem;

            &[data-padding='compact'] {
                --padding: 26.5rem;
            }
        }
    }

    .equal-columns {
        display: grid;
        gap: var(--equal-columns-gap, 1rem);
        align-items: var(--column-layout-alignment, stretch);


        @media (width > 760px) {
            grid-auto-flow: column;
            grid-auto-columns: 1fr 1fr 1fr;

        }

        @media(width < 760px) {
            justify-content: center;
        }

        &[data-gap='large'] {
            --equal-columns-gap: 2rem;
        }

        &[data-alignment='centered'] {
            grid-auto-flow: row;
            justify-items: center;
        }

        &[data-auto='none'] {
            grid-auto-columns: auto;
        }

        &[data-columns='three'] {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-flow: dense;

            @media (width < 760px) {
                grid-template-columns: none;
            }
        }

    }

    .wrapper {
        --wrapper-max-width: 1130px;

        max-width: var(--wrapper-max-width);
        margin-inline: auto;
        padding-inline: 1rem;
        box-sizing: content-box;

        &[data-width='narrow'] {
            --wrapper-max-width: 720px
        }

        &[data-width='wide'] {
            --wrapper-max-width: 1330px;
        }

    }

    form {
        max-width: 70rem;
        margin: 1rem auto;
        text-align: center;
        margin-bottom: 3rem;


    }

    .input-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;
        /* Add spacing between input-boxes */

        input {
            margin-inline: .3rem;
        }

        @media(width <720px) {
            display: block;
            margin: 0;

            input {
                margin-block: .3rem;
            }
        }
    }

    .text-box {
        height: 10rem;
        margin-bottom: 1.5rem;
        /* Add spacing between text-box and submit button */

    }

    input,
    textarea {
        font-size: var(--font-size-md);
        border-radius: var(--border-radius-md);

    }

    textarea {
        /* width: 100%; */
        padding: 1.5rem;
        font-size: 1.2rem;
        margin: .7rem 0;
        height: 100%;

    }

    .error-txt {
        color: var(--error-color, red);
        /* Default error color is red */
        font-size: 0.9rem;
        /* Adjust font size for readability */
        margin-top: 0.3rem;
        /* Add spacing between input and error text */
        text-align: left;
        /* Align error messages to the left */
        display: block;
        /* Ensure errors appear below inputs */
    }

    .btn {
        margin-top: 2rem;
        cursor: pointer;
    }
}

@layer components {

    .skip-to-main:not(:focus) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
        position: absolute;
    }

    .skip-to-main {
        background: var(--background-accent-main);
        padding: 1rem;
        border-radius: var(--border-radius-lg);
    }

    .site-header {
        padding-block: 1rem;

        overflow-x: clip;
        position: relative;
    }

    .site-header__inner {
        display: flex;
        gap: 0.5rem 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .site-footer {
        text-align: center;
        padding-block: 8rem;
        gap: 2rem;
    }

    [aria-controls='primary-nav'] {
        z-index: 100;
        background: transparent;
        border: 0;
    }

    [aria-controls='primary-nav'] {
        display: none;
    }

    @media (width < 760px) {

        .primary-navigation.light {
            background-color: var(--bacground-menu-light);
        }

        .primary-navigation.dark {
            background-color: var(--bacground-menu-dark);
        }
    }

    .primary-navigation {
        font-family: var(--ff-body);
        font-size: var(--font-size-lg);
        font-weight: var(--fs-200);

        ul {
            display: flex;
            gap: 0.5rem 1rem;
        }

        a {
            text-decoration: none;
        }

        a:hover,
        a:focus-visbile {
            color: var(--clr-light-blue);
        }

        @media (width < 760px) {
            display: none;
            opacity: 0;
            transition: opacity 1s, display 1s, translate 1s;
            transition-behavior: allow-discrete;
            translate: 100% 0;
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;
            padding: 2rem;
            font-size: var(--font-size-lg);
            font-weight: 700;
            font-family: var(--ff-heading);
            background-color: hsl(193, 100%, 92%);
            border-radius: 0 0 0 var(--border-radius-md);

            ul {
                gap: 0;
                flex-direction: column;
            }

            li {
                --delay: .5s translate: 50%;
                transition: translate 1s var(--delay), opacity 1s var(--delay);
            }

            li:nth-child(2) {
                --delay: .75s;
            }

            li:nth-child(3) {
                --delay: 1s;
            }

            li+li {
                margin-block-start: 1.5rem;
                padding-block-start: 1.5rem;
                border-top: 2px solid var(--background-light);
            }
        }
    }

    @media (width < 760px) {
        [aria-controls='primary-nav'] {
            display: block;
        }

        [aria-expanded='true']+.primary-navigation {
            display: block;
            opacity: 1;
            translate: 0 0;

            @starting-style {
                opacity: 0;
                translate: 0 -100%;
            }

            li {
                translate: 0 0;
                opacity: 1;

                @starting-style {
                    /* Where i can manipulate the transisition */
                    opacity: 0;
                    translate: 0 50%;
                }
            }
        }

        .my-icon {
            margin-inline-start: .5em;
            margin-inline-end: .5em;
        }
    }

    .hero {
        align-content: center;
        text-align: center;
        animation: fade-out forwards;
        animation-timeline: view();
        animation-range-start: exit;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: var(--card-gap, 1rem);
        width: 300px;
        padding: 1rem;
        /* background-color: var(--background-light); */
        border-radius: var(--border-radius-lg);
        overflow: hidden;
        position: relative;

        img {
            border-radius: var(--border-radius-md);
        }
    }

    .projects__modal {
        width: 100%;
        height: 100%;
        bottom: -100%;
        left: 0;
        background: linear-gradient(180deg, hsla(var(--hue), 24%, 40%, 0.3) 0%, hsla(var(--hue), 24%, 4%, 1) 95%);
        display: grid;
        align-items: flex-end;
        padding: 1.5rem 1.25rem;
        position: absolute;
        transition: 0.3s;
    }

    .card:hover .projects__modal {
        bottom: 0;
    }

    .projects__img {
        width: 650px;
        height: 100%;
    }

    .card__title {
        font-size: var(--card--title-font-size, --font-size-heading-sm);
        color: var(--card-title-color, var(--text-brand));
    }

    .card__note {
        margin-block-start: auto;
        background-color: var(--background-extra-light);
        padding: 0.75rem;
        border-radius: var(--border-radius-md);
    }

    .button {
        display: inline-flex;
        align-items: center;
        column-gap: 0.5rem;
        background-color: #43a4f5;
        color: #fff;
        padding: 0.5rem 0.6rem;
        border-radius: 0.5rem;
        transition: 0.3s;
        box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
    }

    .light .work_title {
        font-size: var(--font-size-heading-sm);
        border-bottom: 3px solid var(--background-dark);

        &[data-padding='block-end'] {
            padding-block-start: 1rem;
        }
    }

    .dark .work_title {
        font-size: var(--font-size-heading-sm);
        border-bottom: 3px solid var(--background-light);

        &[data-padding='block-end'] {
            padding-block-start: 1rem;
        }
    }


    .resume__content {
        row-gap: 3.5rem;
    }

    .resume__title {
        font-size: var(--font-size-lg);
        margin-block: 1.5rem;
    }

    .resume__box {
        display: flex;
        justify-content: left;
        column-gap: 3rem;
    }

    .resume__group {
        display: grid;
        align-content: flex-start;
        row-gap: 1rem;

        li {
            list-style: square;
        }
    }

    .resume__data {
        display: flex;
        column-gap: 0.5rem;
    }

    .resume__name {
        font-size: var(--font-size-lg);
        font-weight: 500;
        line-height: 18px;
    }

    .resume__level {
        font-size: var(--font-size-sm);
    }

    .about-image {
        max-height: 600px;
        justify-self: center;
    }

    .skills__box {
        display: flex;
        justify-content: center;

        /* column-gap: 3rem; */
        @media(width < 760px) {
            flex-direction: column;

        }

    }



    .skills__group {
        display: grid;
        align-content: flex-start;
        row-gap: 1rem;
    }

    .skills__data {
        display: flex;
        column-gap: .5rem;
    }

    .skills__data i {
        font-size: 1rem;
        color: var(--first-color);
    }

    .skills__name {
        font-size: var(--normal-font-size);
        font-weight: 500;
        line-height: 18px;
    }

    .skills__level {
        font-size: var(--smaller-font-size);
    }

    .icon {
        height: 24px;
        width: 24px;
    }
}

@layer utilites {
    [hidden] {
        display: none;
    }

    .resizing * {
        transition: none;
        /* animation: none; */
        animation-play-state: paused;
    }

    .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    .font-family-basic {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
}